<div special id="mainContainer" style="width:860px; margin: 0 auto">
    <div id="placeholder" style="height:560px;width:560px;float:left;">      <!--class="col-lg-6 col-sm-6 col-xs-6"-->
    </div>
    <div id="io" style="height:560px;width:280px;float:left;font-size: 120%;"> <!--class="col-lg-3 col-sm-3 col-xs-3"-->
        <div class="well">
                <form>
                    <em>y</em> =
                    <span style="font-weight: bold; color: blue">m</span>
                    <em>x</em> +
                    <span style="font-weight: bold; color: darkgreen">c</span>
                    <br/><br/>
                    Graphs to...<br/>
                    <div class="btn-group">
                        <button type="button" name="radioStates" class="btn btn-default" ng-model="behavior" btn-radio="'override'" value="1">override</button>
                        <button type="button" name="radioStates" class="btn btn-default" ng-model="behavior" btn-radio="'persist'" value="0">persist</button>
                    </div>
                    <br/><br/>
                    Gradient: <span style="font-weight: bold; color: blue">m</span><br/>
                    <div>
                        <button type="button" id="decreaseGrad" class="btn btn-danger btn-sm" style="width:35px; float:left">
                            <span class="glyphicon glyphicon-minus" ></span>
                        </button>
                        <div style="width:10px; float:left">&nbsp</div>
                        <input type="text" id="currentGrad"  style="width:60px; float:left"/>
                        <div style="width:10px; float:left">&nbsp</div>
                        <button type="button" id="increaseGrad" class="btn btn-success btn-sm" style="width:35px; float:left">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <p style="clear: both;"></p>
                    <button id="redrawGradient" type="button" class="btn btn-primary" style="width:150px">
                        Redraw
                    </button>
                    <br/><br/>
                    <em>y</em>-Intercept: <span style="font-weight: bold; color: darkgreen">c</span><br/>
                    <div>
                        <button type="button" id="decreaseInt" class="btn btn-danger btn-sm" style="width:35px; float:left">
                            <span class="glyphicon glyphicon-minus" ></span>
                        </button>
                        <div style="width:10px; float:left">&nbsp</div>
                        <input type="text" id="currentInt" style="width:60px; float:left"/>
                        <div style="width:10px; float:left">&nbsp</div>
                        <button type="button" id="increaseInt" class="btn btn-success btn-sm" style="width:35px; float:left">
                            <span class="glyphicon glyphicon-plus" ></span>
                        </button>
                    </div>
                    <p style="clear: both;"></p>
                    <button id="redrawInt" type="button" class="btn btn-primary" style="width:150px">
                        Redraw
                    </button>
                    <br/><br/>
                    <button id="resetAll" type="button" class="btn btn-warning" style="width:150px">
                        Reset all
                    </button>
                    <div id="currentLineMessageBox">
                    </div>
                </form>
        </div>
    </div>
</div>