body {
  font-family: sans-serif;
  width:1000px;
}

#mainContainer {
	width:1000px;
}

#header {
	background-color: #FFFF00;
}

#io {
	height:530px;
	width:410px;
	float:left;
}

#footer {
	background-color:#FFFF00;
	clear:both;
	text-align:center;
}

.centralizedBlock {
	margin-left:auto; 
    margin-right:auto;
}

table.mathExpression tr td {
	border: 0px;
	height: auto;
	font-family: Times New Romans;
	font-size: 25px;
	vertical-align:middle;
	text-align:center;	
}

.discreteChange {
	height: 27px;
	width: 27px;
	cursor:pointer;
}

#io .buttons
 {
	vertical-align:top;
	font-size: 16px;
}

#io .userInputs
 {
	width: 45px;
	height: 20px;
	font-size: 16px;
	text-align: center;
}

.graph1 {
	color: #FF0000;
}

.graph2 {
	color: #0000FF;
}

.graph3 {
	color: #006600;
}
