<p class="lead">
    The motivation behind this app...
</p>
<p>I started working on web apps since I started teaching at a polytechnic in Singapore.
The apps were originally meant to be simply iPad's iBook's widgets,
and subsequently were deployed as individual apps in the school's proprietary CMS.</p>

<p>I felt that both these two avenues were limited in their reach,
    and decided to deploy the apps to the Internet instead, so that more people can use them.</p>

<p>Looking forward to adding more apps!</p>

<br/>
<p style="font-weight: bold">This app is developed using the open-source technologies listed below:</p>
<ul>
    <li><a href="http://angularjs.org/">AngularJS</a></li>
    <li><a href="http://angular-ui.github.io/">Angular-UI-Router</a></li>
    <li><a href="http:/jquery.com/">Jquery</a></li>
    <li><a href="http://nodejs.org/">NodeJS</a></li>
    <li><a href="http://expressjs.com/">Express</a></li>
    <li><a href="http://requirejs.org/">RequireJS</a></li>
    <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.0</a></li>
    <li><a href="http://www.flotcharts.org/">Flot</a></li>
    <li><a href="https://github.com/ftlabs/fastclick">Fastclick</a></li>
</ul>

<p>This app is currently hosted using <a href="https://www.heroku.com/">Heroku's</a> free plan</p>